.footer{
    height: 200px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

}


.footer ul{
    display: flex;
    gap: 20px;
}

.footer p {
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 0;
  font-size: 15px;
}