@media (max-width: 768px) {
  /* inner */
  .inner {
    width: 100%;
    height: 100%;
    text-align: center;
  
    
  }
  .inner h1 {
    font-size: 30px;
    font-weight: 900;
  }
  .inner h3 {
    font-size: 20px;
    padding-top: 5px;
    color: #959595;
  }
  /* inner-green */
  .inner-gr {
    width: 100%;
    height: 100%;
    text-align: center;

  }
  .inner-gr h1 {
      font-size: 30px;
    font-weight: 900;
  }
  .inner-gr h3 {
     font-size: 20px;
    padding-top: 5px;
    color: #959595;
  }
  /* header */
  .navi-wrap {
    justify-content: space-between;
    width: 100%;
    top: 20px;
    left: 0;
    padding: 0 20px;
  }
  .logo-mobile {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .navi {
    display: none;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    display: none;
  }

  .login {
    display: block;
  }

  .login button {
    border: 1px solid white;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
  }
  .login button:hover {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /*  중복 제거하고 하나로 합침 */
  .header-btn-book {
    display: block;
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
  .header-btn-book button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s;
  }
  .header-btn-book button:hover {
    background-color: #ffffff93;
    color: black;
  }
  /* 로고 모바일 */
  .logo-mobile img {
    width: 130px;
  }
  .logo-mobile {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 10;
  }
  /* slides - bar */
  .page-bar {
    width: 30px;
    height: 3px;
  }
  .slider-page {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 100;
  }

  /* section2 - summary */
  .summary {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    padding-bottom: 30px;
  }
  .summary img {
    display: none;
  }
  .summary-right {
    gap: 10px;
    width: 100%;
    margin-left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  padding-bottom: 50px;
  }
  .part {
    text-align: center;
  }
  .part h1 {
    font-size: 35px;
  }

  .part h2 {
    font-size: 18px;
  }

  .part p {
    font-size: 12px;
  }
  .part span {
    font-size: 20px;
  }
  /* review */
  .slide-wrap img {
    height: 140px;
  }
  .slide-left,
  .slide-right {
    animation-duration: 18s;
  }

  /* how */

  .how {
    display: block;
  }
  .how-line {
    display: none;
  }
  .step-circle {
    width: 80px;
    height: 80px;
    flex-shrink: 0;   /* 아이콘 크기 고정 */
    margin-right: 0;  /* gap으로 대체 */
    margin-bottom: 0;
    position: relative;
  }
  .step-num {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;         /* ← -72px 제거, 원 안에 위치 */
    font-size: 12px;
  }
  .step-circle img {
    width: 50px;
    height: 50px;
  }
  .how-step {
    display: flex;
    flex-direction: row;
    align-items: center;
        /* margin 대신 gap으로 간격 */
    padding: 20px 16px;  /* 좌우 여백 */
  }
  .how-text {
    flex: 1;          /* 남은 공간 차지 */
    min-width: 0;     /* 넘침 방지 */
    margin-bottom: 0;
    padding-left: 20px;
  }
  .how-text h1 {
        margin-top: 0;
    text-align: left !important;
    font-size: 25px;
  }
  .how-text p {
        text-align: left !important;
    font-size: 20px;
  }
  .how-text br {
    display: none;
  }
  
  /* event */
.event-list li h1{
  font-size: 20px;
}
.inclu{
  font-size: 20px;

}
.orig{
  font-size: 20px;
}
.event-list li h2{
       font-size: 20px;
}
.event-sign{
  width: 300px;
  height: 50px;
  
}
.event-sign a{
  font-size: 20px;
  
}
}
/* 480px 모바일 */
@media (max-width: 480px) {
  .inner {
    width: 100%;
    height: 100%;
    text-align: center;
  
  }
  .inner h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .inner h3 {
    font-size: 13px;
    padding-top: 5px;
    color: #959595;
  }
  /* inner-green */
  .inner-gr {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .inner-gr h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .inner-gr h3 {
    font-size: 13px;
    padding-top: 5px;
    color: #959595;
  }

  /* header */
  .header-box{
    height: 600px;
  }
  .header-title {
    position: absolute;
    top: 150px; /* top 고정 → bottom으로 변경 */
    left: 20px;
    color: white;
    z-index: 1;
  }

  .header-title h2 {
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    color: #fee500;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    width: fit-content; /* 텍스트 길이만큼만 너비 */
  }

  .header-btn-book button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s;
  }

  .header-btn-book button:hover {
    background-color: #ffffff93;
    color: black;
  }
  .header-title h1 {
    line-height: 1.4;
  }

  .header-title span {
    color: #fee500;
  }

  .header-title p {
    margin-top: 30px;
    /* font-size: clamp(0.75rem, 1.2vw, 1rem); 반응형 */
  }
  /* bar */
  .page-bar {
    width: 10px;
  }
  .page-bar.active {
    width: 20px;
  }
  .part {
    text-align: center;
  }
  /* summary  */

  .part h1 {
    font-size: 20px;
  }

  .part h2 {
    font-size: 18px;
  }

  .part p {
    font-size: 10px;
  }
  .part span {
    font-size: 15px;
  }
  /* review */
  .slide-wrap img {
    height: 110px;
  }
  .slide-left,
  .slide-right {
    animation-duration: 14s;
  }

 /* how */
  .step-circle {

    width: 60px;
    height: 60px;
  }
  .step-circle img {
    width: 24px;
    height: 24px;
  }
  .step-num {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }
  .how-text h1 {
    font-size: 20px;
  }
  .how-text p {
    font-size: 15px !important;
  }
  .how-step {
    gap: 10px;
    padding: 0 10px;
  }

  /* event */

}